.cambiarPasswordContainer{
    background-color: #003E5D;
    opacity: .9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 10rem;
    flex: 1;
    height: 600px;
}

.cambiarPasswordDiv{
    flex: 1;

}

.cambiarPasswordButtonDiv{
    flex: 2;
    justify-content: center;
}

.cambiarPasswordButton{
    height: 60px;
    align-self: center;
    justify-content: center;
    background-color: #2F70B2;
    border-radius: 3px;
    opacity: 0.8;
    width: 250px;
}

.cambiarPasswordButtonLabel{
    justify-content: center;
    align-self: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.errorMsgViewStyle {
    margin-top: 4px;
    align-self: center;
    align-items: flex-start;
}

.errorMsgTextStyle{
    color: #e06666;
    font-size: 25px;
    opacity: 0.8;
    font-weight: 500;
    text-align: center;
}