.galeria-section-div{
  /*  width: 75%;*/
    display: flex;
    width: 100%;
    justify-content: center;
}

.image-gallery {
    margin: 0;
    transition: all 1s ease;
}

.image-gallery-slide {
    background: none !important;
}

.image-gallery-slide img {
    display: block;
    height: 440px;
    margin: 0 auto;
    width: auto !important;
    max-width: 800px;
}

.image-gallery-bullets {
    bottom: 15px !important;
}

.image-gallery-fullscreen-button, .image-gallery-play-button {
    bottom: 5px !important;
}

.image-gallery-thumbnails {
    margin-top: 35px;
}